body {
  background-color: #0e0e0e;
  height: 100%;
  overscroll-behavior: none;
}

p {
  color: #fff;
}

#tooltip-message {
  position: absolute;
  background: #17191e;
  padding: 8px;
  border-radius: 10px;
  min-width: 100px !important;
  .orderbook-tooltip {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.24px;
    color: #fff;
    .inline-item {
      color: #868991;
      display: flex;
      justify-content: space-between;
      .inline-item-label {
        color: #868991;
      }
    }
  }
}
